.mapjs-node {
	position: absolute;
	margin: 0;
	padding: 8px;
	border-radius: 10px;
	border: 1px solid #888;
	box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.4);
	z-index: 2;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background-color: #E0E0E0;
	color: #4F4F4F;
	cursor: hand;
}
.mapjs-node span {
	white-space: pre-wrap;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 12;
	text-align: center;
	line-height: 150% !important;
	display: block;
	max-width: 160px;
}
.mapjs-node.selected, .mapjs-node:focus {
	outline: 0;
	border: 3px dashed #2E9AFE;
	margin: -2px;
	box-shadow: 5px 5px 5px black;
	z-index: 3;
}
.mapjs-collapsed {
	box-shadow: 4px 4px 0 #105773, 5px 5px 0 #666, 8px 8px 0 #0A3647, 9px 9px 0 #333;
}
.mapjs-collapsed.selected, .mapjs-collapsed:focus {
	box-shadow: 4px 4px 0 #105773, 5px 5px 0 #666, 8px 8px 0 #0A3647, 9px 9px 0 #333, 12px 12px 5px black;
}
.mapjs-node[mapjs-level="1"] {
	background-color:#22AAE0;
}
.mapjs-node-light {
	color: #4F4F4F;
}
.mapjs-node-dark {
	color: #EEEEEE;
}
.mapjs-node-white {
	color: black;
}
.mapjs-link {
	right: -0.4em;
	position: absolute;
	bottom: -0.45em;
	font-size: 1.25em;
	background-image: url(iconmonstr-link-icon.svg);
	width: 1.5em;
	height: 1.5em;
	background-size: 1.5em;
	background-repeat: no-repeat no-repeat;
}
.mapjs-attachment {
	right: -0.4em;
	position: absolute;
	top: -0.45em;
	font-size: 1.25em;
	background-image: url(iconmonstr-paperclip-icon.svg);
	width: 1.5em;
	height: 1.5em;
	background-size: 1.5em;
	background-repeat: no-repeat no-repeat;
}
.mapjs-draw-container {
	position: absolute;
	margin: 0px;
	padding: 0px;
	z-index: 1;
}
.mapjs-connector {
	stroke-width: 1px;
	fill: none;
	stroke: #888;
}
.mapjs-link {
	stroke-width: 1.5px;
	fill: none;
}
.mapjs-arrow {
}
