.mapjs-node {
	position: absolute;
	margin: 0px;
	padding: 8px;
	border-radius: 10px;
	border: 1px solid #888;
	box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.4);
	z-index: 2;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background-color: #E0E0E0;
	color: #4F4F4F;
}
.mapjs-node span {
	white-space: pre-wrap;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 12;
	text-align: center;
	line-height: 150% !important;
	display: block;
	max-width: 160px;
}
.mapjs-node.selected, .mapjs-node:focus {
	outline: 0;
	border: 3px dashed #2E9AFE;
	margin: -2px;
	box-shadow: 5px 5px 5px black;
	z-index: 3;
}

.mapjs-node[mapjs-level="1"] {
	background-color:#22AAE0;
}
.mapjs-node-light {
	color: #4F4F4F;
}
.mapjs-node-dark {
	color: #EEEEEE;
}
.mapjs-node-white {
	color: black;
}
