*PRIVATE*
*environment*
!environment-conda-argmap.yaml
!*sample.yaml
!*defaults.yaml
argmap.code-workspace
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
archived
includes/webpack-dist-tags.html
lua_modules/
mapjs/node_modules
mapjs/public/output
mapjs/public/input
mapjs/public/js
mapjs/public/index.html
examples/*
src/layouts/includes/webpack-dist-tags.html
scripts/experiments.sh
test/output*/*
tmp/
9bee0f80d302c53bc6ca6edbf3789ef438394fb8.png
results
.DS_Store
testem/compiled
pub
lib
npm-debug.log
*-processed.yaml
mapjs/lint_errors.txt

# Netlify

## Local Netlify folder
.netlify

mapjs/public/sitemap.xml
# Used by netlify-cli build
yq
