[[redirects]]
  from = "/"
  to = "/output/html/example1-clearly-false-white-swan-simplified.html"
  status = 200
  force = false

[build]
  publish = "mapjs/public/" # The path to your static content folder
  command = "./scripts/argmap_init_script.sh" # Command to start your dev server

[build.environment]
  ENV = "netlify"
  DIR_PROJECTS = "./mapjs/public"
  PATH_DIR_SCRIPTS = "scripts"
  PATH_BIN_GLOBAL = "."
  # PATH_FILE_YQ = "/opt/build/cache/yq"
  PATH_FILE_YQ = "./yq"
  WORKSPACE = "."
  # PATH_DIR_CONFIG_ARGMAP_PROCESSED="/opt/build/cache/config/processed"
  PATH_DIR_CONFIG_ARGMAP_PROCESSED = "config/processed"
  # NODE_PATH = "/opt/build/cache/node_modules:./mapjs/node_modules"
  # NPM_FLAGS = "--prefix /opt/build/cache/node_modules"
  # NODE_ENV = "production"
  NODE_VERSION = "18.14.0"
  NPM_VERSION = "9.3.1"
  GO_VERSION = "1.20"

[context.production.environment]
  # MODE = "prod"

[context.dev.environment]
  ENV = "netlify"
  MODE = "dev"
  # NETLIFY_BUILD_DEBUG = "true"

# sample dev block in the toml
# note: each of these fields are OPTIONAL and should only be used if you need an override
[dev]
  # QUESTION: Can I generate using PORT_DEV_SERVER? Best to generate netlify env variable instead of using config file - but could use pandoc template
  #   If you would like to set environment variables for use locally with the Netlify CLI, use context.dev instead.
  #   https://docs.netlify.com/configure-builds/file-based-configuration/#use-a-local-build-plugin
  #   https://docs.netlify.com/configure-builds/file-based-configuration/#use-the-build-command-to-substitute-environment-variable-values
  port = 9002 # The port that the netlify dev will be accessible on
  # TODO how do I open in odb browser by default?
  #   Maybe this?: https://cli.netlify.com/vscode/#add-vscode-launch-configurations
  autoLaunch = false # a Boolean value that determines if Netlify Dev launches the local server address in your browser
  # envFiles = [".env.development.local", ".env.local", ".env.development", ".env"] # The env files to use, ordered by priority (left - highest, right - lowest)

[[plugins]]
package = "@netlify/plugin-sitemap"

[[plugins]]
package = "@netlify/plugin-lighthouse"
# optional, deploy the lighthouse report to a path under your site
  # [plugins.inputs.audits]
  #   output_path = "reports/lighthouse.html"
[[plugins]]
package = "netlify-plugin-debug-cache"

[[plugins]]
package = "netlify-plugin-cache"
  [plugins.inputs]
  # "/home/linuxbrew/.linuxbrew/lib"
  paths = [".cache", "yq", "config/processed", "lua_modules", "mapjs/node_modules"]