/* margin: 0 bit extreme when there is other content, perhaps apply this to the mapjs container only */
body {
  margin: 0;
}

#testcontrols {
  height: 50px;
  overflow-y: scroll;
  padding: 5px;
}

.container_argmapjs {
  background-color: #FFFFFF;

  height: calc(100% - 60px) !important;
  width: 100%;
  border: 1px dashed black;
  min-height: 250px !important;
}

/* div[data-mapjs-role=stage] {
  transform: translate3d(calc(75% - 140px), 110%, 0) !important;
} */