@layer mapjs-theme {

  body:not(.noTransition) .mapjs-node:not(.noTransition):not(.dragging),
  body:not(.noTransition) [data-mapjs-role="svg-container"] :not(.noTransition),
  body:not(.noTransition) [data-mapjs-role="svg-container"] :not(.noTransition) :not(.noTransition) {
    transition-property: transform, left, d, top, opacity;
    transition-duration: 400ms;
  }

  .mapjs-node {
    border: 1px solid #707070;
    margin: -1px;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(7, 7, 7, 0.3);
    padding: 5px;
    font: normal normal 300 14pt/1.14 NotoSans, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    text-align: start;
    color: #4F4F4F;
    border-radius: 5px;
  }

  .mapjs-node .mapjs-decorations {
    position: absolute;
    font-size: 14pt;
    right: 0;
    top: -13px;
  }

  .mapjs-node span {
    max-width: 146px;
  }

  .mapjs-node.attr_implicit_claim {
    border: 1px dashed #707070;
    margin: -1px;
  }

  .mapjs-node.activated {
    border: 3px dotted #22AAE0;
    margin: -3px;
  }

  .mapjs-node.activated.attr_implicit_claim {
    border: 3px dashed #22AAE0;
    margin: -3px;
  }

  .mapjs-node.selected {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  }

  .mapjs-node.collapsed {
    box-shadow: 0 1px 0 #888888, 0 3px 0 #FFFFFF, 0 4px 0 #888888, 0 6px 0 #FFFFFF, 0 7px 0 #888888;
  }

  .mapjs-node.collapsed.selected {
    box-shadow: 0 1px 0 #FFFFFF, 0 3px 0 #888888, 0 6px 0 #FFFFFF, 0 7px 0 #555555, 0 10px 0 #FFFFFF, 0 11px 0 #333333;
  }

  .mapjs-node.attr_group {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-align: center;
    font: normal normal bold 9pt/1.28 NotoSans, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    color: #4F4F4F;
    border-radius: 10px;
    border: 0;
  }

  .mapjs-node.attr_group_supporting.level_1 {
    border: 2px solid transparent;
    margin: -2px;
    background-color: rgba(0, 255, 0, 0.2);
  }

  .mapjs-node.attr_group_supporting.activated {
    border: 3px dotted #22AAE0;
    margin: -3px;
    background-color: rgba(0, 255, 0, 0.2);
  }

  .mapjs-node.attr_group_opposing.level_1 {
    border: 2px solid transparent;
    margin: -2px;
    background-color: rgba(255, 0, 0, 0.2);
  }

  .mapjs-node.attr_group_opposing.activated {
    border: 3px dotted #22AAE0;
    margin: -3px;
    background-color: rgba(255, 0, 0, 0.2);
  }

  .mapjs-node.attr_group_supporting.droppable {
    border: 3px dashed #22AAE0;
    margin: -3px;
    background-color: rgba(0, 255, 0, 0.6);
  }

  .mapjs-node.attr_group_opposing.droppable {
    border: 3px dashed #22AAE0;
    margin: -3px;
    background-color: rgba(255, 0, 0, 0.6);
  }

  g.mapjs-connector-supporting {
    /* #095f11 */
    stroke: rgb(9, 95, 17);
    stroke-width: 3;
  }

  g.mapjs-connector-opposing {
    /* #ffafaf*/
    stroke: rgb(255, 175, 175);
    stroke-width: 3;
  }
}