$-- Copyright 2014-2019 John MacFarlane; 2022 Michael Hayes and the argmap contributors
$-- SPDX - License - Identifier: MIT
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="${DEFAULT_LANGUAGE}" xml:lang="${DEFAULT_LANGUAGE}" $if(dir)$
  dir="$dir$" $endif$>
$../includes/argmap-head-element.html()$

<body>
  $for(include-before)$
  $include-before$
  $endfor$
  $if(title)$
  <header id="title-block-header">
    <h1 class="title">$title$</h1>
    $if(subtitle)$
    <p class="subtitle">$subtitle$</p>
    $endif$
    $for(author)$
    <p class="author">$author$</p>
    $endfor$
    $if(date)$
    <p class="date">$date$</p>
    $endif$
    $if(abstract)$
    <div class="abstract">
      <div class="abstract-title">$abstract-title$</div>
      $abstract$
    </div>
    $endif$
  </header>
  $endif$
  $if(toc)$
  <nav id="$idprefix$TOC" role="doc-toc">
    $if(toc-title)$
    <h2 id="$idprefix$toc-title">$toc-title$</h2>
    $endif$
    $table-of-contents$
  </nav>
  $endif$
  <main>
    ${if(argmap-input)}
    $../includes/argmap-input-widget.html()$
    ${endif}
    <$argmap_collection.tag$ class="$argmap_collection.class$">
      $body$
      ${if(quick-container)}
      $../includes/mapjs-map-container.html()$
      ${endif}
    </$argmap_collection.tag$>
  </main>
  <style id="themecss">
  </style>
  $../includes/webpack-dist-tags.html()$
  ${if(argmap-input)}
  <script src="/js/fengari-web.js" type="text/javascript" async></script>
  <script src="/lua/client_argmap2mapjs.lua" type="application/lua" async></script>

  ${endif}
  $for(include-after)$
  $include-after$
  $endfor$
<footer><small>
    <p>Copyright &copy; 2022 Michael Hayes. Released under <a
        href="https://github.com/s6mike/argmap/blob/master/LICENSE">MIT
        License</a>.</p>
  </small></footer>
</body>
</html>