---
########
# Argmap config data - paths
# For use in scripts, layouts and lua code.
# Contains paths I would not expect users to customise, so will overwrite with each upgrade.
#   So this file is NOT considered part of a public API and can change at any time without being considered BREAKING.
# Copyright 2022 Michael Hayes
# SPDX - License - Identifier: MIT
########

## config
DIR_CONFIG: config
PATH_DIR_CONFIG_ARGMAP: ${PATH_DIR_ARGMAP_ROOT}/${DIR_CONFIG}
KEYWORD_PROCESSED: processed
PATH_DIR_CONFIG_ARGMAP_PROCESSED: ${PATH_DIR_CONFIG_ARGMAP}/${KEYWORD_PROCESSED}
PATH_MAPJS: ${PATH_DIR_ARGMAP_ROOT}/mapjs
PATH_DIR_CONFIG_MAPJS: ${PATH_MAPJS}/${DIR_CONFIG}

PATH_FILE_CONFIG_ARGMAP: ${PATH_DIR_CONFIG_ARGMAP}/config-argmap.yaml
PATH_FILE_CONFIG_ARGMAP_PROCESSED: ${PATH_DIR_CONFIG_ARGMAP_PROCESSED}/config-argmap-${KEYWORD_PROCESSED}.yaml
PATH_FILE_CONFIG_ARGMAP_PATHS: ${PATH_DIR_CONFIG_ARGMAP}/config-argmap-paths.yaml # This file
PATH_FILE_CONFIG_ARGMAP_PATHS_PROCESSED: ${PATH_DIR_CONFIG_ARGMAP_PROCESSED}/config-argmap-paths-${KEYWORD_PROCESSED}.yaml
PATH_FILE_ENV_ARGMAP: ${PATH_DIR_CONFIG_ARGMAP}/environment-argmap.yaml
PATH_FILE_ENV_ARGMAP_DEFAULTS: ${PATH_DIR_CONFIG_ARGMAP}/environment-argmap-defaults.yaml
PATH_FILE_ENV_ARGMAP_PROCESSED: ${PATH_DIR_CONFIG_ARGMAP_PROCESSED}/environment-argmap-${KEYWORD_PROCESSED}.yaml
PATH_FILE_ENV_ARGMAP_PRIVATE: ${PATH_DIR_CONFIG_ARGMAP}/PRIVATE-environment-argmap.yaml
PATH_FILE_ENV_ARGMAP_PRIVATE_PROCESSED: ${PATH_DIR_CONFIG_ARGMAP_PROCESSED}/PRIVATE-environment-argmap-${KEYWORD_PROCESSED}.yaml
PATH_FILE_PANDOC_DEFAULT_CONFIG_PREPROCESSOR: ${PATH_DIR_CONFIG_ARGMAP}/pandoc-defaults-config-preprocessor.yaml

PATH_FILE_CONFIG_MAPJS_PATHS_PROCESSED: ${PATH_MAPJS}/${PATH_CONFIG_MAPJS_PROCESSED}/config-mapjs-paths-${KEYWORD_PROCESSED_MAPJS}.yaml
PATH_FILE_ENV_MAPJS_PROCESSED: ${PATH_MAPJS}/${PATH_CONFIG_MAPJS_PROCESSED}/environment-mapjs-${KEYWORD_PROCESSED_MAPJS}.yaml

# Processed config files are at top, so their results are used ahead of raw config files
# QUESTION: Just check two config folders instead?
LIST_FILES_CONFIG_INPUT:
- ${PATH_FILE_ENV_ARGMAP}
- ${PATH_FILE_CONFIG_ARGMAP_PATHS} # This file
- ${PATH_FILE_CONFIG_ARGMAP}
- ${PATH_FILE_ENV_ARGMAP_PRIVATE}
- ${PATH_MAPJS}/${PATH_FILE_ENV_MAPJS}
- ${PATH_MAPJS}/${PATH_FILE_CONFIG_MAPJS_PATHS}
- ${PATH_MAPJS}/${PATH_FILE_CONFIG_MAPJS}
# - ${PATH_FILE_ENV_CONDA}

# Not needed here because bash function generates this list. However, might be needed for other apps?
#   Now needed by makefile
LIST_FILES_CONFIG_PROCESSED:
- ${PATH_FILE_CONFIG_ARGMAP_PATHS_PROCESSED}
- ${PATH_FILE_ENV_ARGMAP_PROCESSED}
- ${PATH_FILE_CONFIG_ARGMAP_PROCESSED}
- ${PATH_FILE_ENV_ARGMAP_PRIVATE_PROCESSED}
- ${PATH_FILE_CONFIG_MAPJS_PATHS_PROCESSED}
- ${PATH_FILE_ENV_MAPJS_PROCESSED}
- ${PATH_MAPJS}/${PATH_FILE_CONFIG_MAPJS_PROCESSED}

# TODO: This looks like a mistake
# - ${PATH_FILE_CONFIG_PROCESSED_VARIABLES}

## conda
CONDA_ENV_ARGMAP: argmap
CONDA_PREFIX: /opt/miniconda3/envs/argmap
PATH_FILE_ENV_CONDA: ${PATH_DIR_CONFIG_ARGMAP}/environment-conda-argmap.yaml

## argmap
PATH_DIR_SCRIPTS: ${PATH_DIR_ARGMAP_ROOT}/scripts
PATH_DIR_ARGMAP_SRC: ${PATH_DIR_ARGMAP_ROOT}/src

## layouts
PATH_DIR_LAYOUTS: ${PATH_DIR_ARGMAP_SRC}/layouts
PATH_DIR_INCLUDES: ${PATH_DIR_LAYOUTS}/includes
PATH_DIR_TEMPLATES: ${PATH_DIR_ARGMAP_SRC}/layouts/templates
FILE_TEMPLATE_HTML_ARGMAP_MAIN: ${PATH_DIR_LAYOUTS}/templates/pandoc-mapjs-main-html5.html
PATH_INCLUDES_MAPJS_CONTAINER_STANDARD: ${PATH_DIR_INCLUDES}/mapjs-map-container.html
PATH_INCLUDES_ARGMAP_CONTROLS: ${PATH_DIR_INCLUDES}/mapjs-widget-controls.html

## Testing
# TODO: Add variables for ${PATH_DIR_ARGMAP_ROOT}/test, /input, /examples, mapjs-json, markdown
# QUESTION: Rename _YML to _ARGMAP, since YML used for config files?
INPUT_FILE_YML: ${PATH_DIR_ARGMAP_ROOT}/test/input/example1-clearly-false-white-swan-simplified.yaml
INPUT_FILE_YML_NOTES: ${PATH_DIR_ARGMAP_ROOT}/examples/example-2.yaml
INPUT_FILE_JSON: ${PATH_DIR_ARGMAP_ROOT}/test/input/mapjs-json/example1-clearly-false-white-swan-simplified.json
INPUT_FILE_MD0: ${PATH_DIR_ARGMAP_ROOT}/test/input/markdown/example1-clearly-false-white-swan-simplified-0mapjs.md
INPUT_FILE_MD: ${PATH_DIR_ARGMAP_ROOT}/test/input/markdown/example1-clearly-false-white-swan-simplified-1mapjs.md
INPUT_FILE_MD2: ${PATH_DIR_ARGMAP_ROOT}/test/input/markdown/example1-clearly-false-white-swan-simplified-2mapjs.md
INPUT_FILE_MD_META: ${PATH_DIR_ARGMAP_ROOT}/test/input/markdown/example1-clearly-false-white-swan-simplified-meta-mapjs.md
INPUT_FILE_JSON2: ${PATH_DIR_ARGMAP_ROOT}/test/input/mapjs-json/example2-clearly-false-white-swan-v3.mup
INPUT_FILE_JSON_LINKS: ${PATH_DIR_ARGMAP_ROOT}/test/input/mapjs-json/example1-clearly-false-white-swan-simplified-with-links.json

...
