---
########
# Argmap environment data - DEFAULTS
# Copy this to config/environment-argmap.yaml and customise the values
#   This file IS considered part of the public API for this app and changing variable names etc will be considered BREAKING.
# For use in scripts, layouts and lua code.
# Copyright 2022 Michael Hayes
# SPDX - License - Identifier: MIT
########

# Use ${variable} for referencing other yaml variables, since this is compatible with both bash and pandoc templates.

ENV: default
TEST_SITE_DEPLOY: false

# Paths

## web server
DIR_PUBLIC: public
PATH_PUBLIC: ${PATH_DIR_MAPJS_ROOT}/${DIR_PUBLIC}
PORT_DEBUG: 9221
PORT_DEV_SERVER: 9001

## External to project
HOME: /home/s6mike
PATH_PROFILE_LOCAL: ${HOME}/.local
PATH_LUA_LOCAL: ${PATH_PROFILE_LOCAL}/bin/lua
PATH_PANDOC_LOCAL: ${PATH_PROFILE_LOCAL}/share/pandoc
PATH_FILE_CONVERT_LOCAL: ${PATH_PROFILE_LOCAL}/bin/convert

PATH_BIN_GLOBAL: ${CONDA_PREFIX}/bin
PATH_SHARE_GLOBAL: ${CONDA_PREFIX}/share
PATH_LUA_GLOBAL: ${PATH_SHARE_GLOBAL}/lua/5.3
PATH_PANDOC_GLOBAL: ${PATH_SHARE_GLOBAL}/pandoc
PATH_FILE_CONVERT_GLOBAL: ${PATH_BIN_GLOBAL}/convert
PATH_ADD_PATH: "${PATH_SHARE_GLOBAL}/opt/lua@5.3/bin:${PATH_LUA_ARGMAP}:${PATH_BIN_GLOBAL}"  # Value quoted because it contains ':'

DIR_PROJECTS: ${PATH_PUBLIC}
PATH_MISC_DEV: ${DIR_PROJECTS}/misc
PATH_CHROME_PROFILE_DEBUG: ${PATH_MISC_DEV}/chrome-debug-argmap
PATH_TEST_LOG: ${PATH_MISC_DEV}/tests_output.txt
DEFAULT_DIFF_FILENAME: ${DIR_PROJECTS}/mapjs-git-bisect/diffs/all_mapjs_fixes_latest_modified.diff

## lua
PATH_LUA_ARGMAP: ${PATH_DIR_ARGMAP_SRC}/lua
PATH_LUA_MODULES: ${PATH_SHARE_GLOBAL}/lua_modules
LUA_PATH: ${PATH_LUA_ARGMAP}/?.lua;${PATH_LUA_MODULES}/share/lua/5.3/?.lua;${PATH_LUA_MODULES}/share/lua/5.3/?/init.lua;
LUA_CPATH: ${PATH_LUA_MODULES}/lib/lua/5.3/?.so;${PATH_LUA_GLOBAL}/loadall.so;./?.so;${PATH_LUA_GLOBAL}/?.so;

## mapjs
DIR_MAPJS: mapjs
PATH_DIR_MAPJS_ROOT: ${PATH_ARGMAP_ROOT}/${DIR_MAPJS}
MAPJS_NODE_MODULES_PREFIX: ${PATH_DIR_MAPJS_ROOT}

## pandoc
PATH_FILE_PANDOC_FILTER_LUA_ARGMAP: ${PATH_LUA_ARGMAP}/pandoc-argmap.lua
PANDOC_DATA_DIR: ${PATH_ENVIRONMENT_GLOBAL}/share/pandoc

# TODO Use variables: 
PATH_FILE_OUTPUT_EXAMPLE: ${PATH_ARGMAP_ROOT}/mapjs/public/output/html/example1-clearly-false-white-swan-simplified.html 
PATH_FILE_OUTPUT_EXAMPLE2_COMPLEX: ${PATH_ARGMAP_ROOT}/mapjs/public/output/html/example2-clearly-false-white-swan-v3.html 

## GDrive
GDRIVE_FOLDER_ID_MAPJS_DEFAULT: 1cSnE4jv5f1InNVgYg354xRwVPY6CvD0x # Default mapjs upload folder
GDRIVE_FILE_ID_MAPJS_DEFAULT: 138E5WcQos2NNxN4_pCuw83DnZnqKO36Z # Default mapjs upload gdrive id

...
